* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --secondary-color: #e2eddf;
  --font-public-sans: "Public Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-poppins);
}

/* Common */

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  line-height: var(--height);
  padding: 0 20px;
  text-align: center;
  color: #ffffff;
  background: #143c3c;
  border-radius: 99px;
  font-weight: 500;
  font-size: 1.8rem;
  border: 1px solid #143c3c;
  transition: 0.25s;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-title {
  display: flex;
  align-items: center;
  column-gap: 21px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #152427;
}

.section-title::before {
  content: "";
  width: 25px;
  height: 1px;
  margin-bottom: 2px;
  background: #152427;
}

.section-heading {
  margin-top: 12px;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
  max-width: 520px;
}

.section-heading--line {
  position: relative;
}

.section-heading--line::after {
  display: inline-block;
  position: absolute;
  top: 83px;
  right: 103px;
  content: "";
  width: 66px;
  height: 2px;
  background: #152427;
}

/* Header */
.header {
  padding-top: 15px;
  font-family: var(--font-public-sans);
  min-height: 100vh;
}
.header__top {
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

.navbar__list {
  display: flex;
}

.navbar__link {
  padding: 4px 19px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link--active,
.navbar__link:hover {
  color: #152427;
}

.navbar__link--active {
  position: relative;
}

.navbar__link--active::after {
  content: "";
  left: 19px;
  top: calc(84px - 29px);
  position: absolute;
  width: 16px;
  height: 2px;
  background: #143c3c;
}

/* Hero */
.hero {
  position: relative;
  padding: 60px 0 88px;
  display: flex;
  column-gap: 78px;
}

.hero__content {
  flex-shrink: 0;
  width: 35%;
}

.hero__heading {
  max-width: 368px;
  margin-top: 43px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: #152427;
}

.hero__desc {
  max-width: 341px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.hero__row {
  margin-top: 42px;
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.hero-btn {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  font-family: var(--font-poppins);
}

.hero-btn__icon {
  position: relative;
  padding-right: 22px;
}

.hero-btn__img {
  display: block;
}

.hero-btn__img--pos {
  position: absolute;
  top: 8px;
  left: 8px;
}

.hero-btn__text {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
  color: #152427;
}

.hero-btn__text:hover {
  cursor: pointer;
  opacity: 0.9;
}

.hero__media {
  position: relative;
  flex: 1;
  height: 543px;
}

.hero__media::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  content: "";
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  border-radius: 50%;
}

.hero__images {
  position: absolute;
  display: flex;
  column-gap: 20px;
  z-index: 1;
}

.hero__img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

.hero-decorate {
  position: absolute;
  z-index: 2;
}

.hero-decorate--top {
  top: 28px;
  left: 260px;
}

.hero-decorate--bottom {
  transform: rotate(180deg);
  right: 72px;
  bottom: 12px;
}

.hero-decorate__images {
  position: relative;
}

.hero-decorate__img {
  display: grid;
}

.hero-decorate__img--pos {
  position: absolute;
  top: 14px;
  left: -37px;
}

/* Logo */

.logo {
  margin-top: 42px;
}

.logo__row {
  padding: 76px 0 76px;
  display: flex;
  justify-content: center;
  background: var(--secondary-color);
  border-radius: 100px;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.logo__link--google {
  font-weight: 500;
  font-size: 3.1rem;
  line-height: 1.5;
}

.logo__link--stack {
  margin-left: 47px;
  column-gap: 3px;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.5;
}

.logo__link--agworld {
  margin-left: 51px;
  column-gap: 11px;
  font-size: 2.6rem;
  line-height: 1.4;
  color: #163c35;
}

.logo__link--riotinto {
  margin-left: 64px;
  font-size: 2.3rem;
  line-height: 1.3;
}

.logo__link--heroku {
  margin-left: 63px;
  column-gap: 14px;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.3;
  letter-spacing: 0.105em;
}

/* Services */

.services {
  margin-top: 56px;
  padding: 50px 0;
}

.services__top {
  display: flex;
  justify-content: space-between;
}

.services__action {
  display: inline-flex;
  align-items: flex-end;
  column-gap: 17px;
  margin-bottom: 10px;
}

.services__btn {
  padding: 0;
  color: #152427;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: var(--secondary-color);
  transition: 0.25s;
}

.services__btn + .services__btn {
  transform: rotate(180deg);
}

.services__btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: var(--primary-color);
}

.services__list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.services__item {
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;
  transition: 0.25s;
}

.services__item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__thumb {
  width: 370px;
  height: 318px;
  object-fit: cover;
}

.services__text {
  padding: 0 0 23px 18px;
  max-width: 286px;
}

.services__heading {
  margin-top: 24px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: #152427;
}

.services__desc {
  margin-top: 18px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #7d8188;
}
